[Unit]
Description=Fix base geth.ipc permissions
After=base-geth.service

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'while [ ! -e /opt/base/data/geth.ipc ]; do sleep 1; done'
ExecStart=/bin/sh -c 'chmod 0660 /opt/base/data/geth.ipc && chown :fly /opt/base/data/geth.ipc'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target