[Unit]
Description=Monitor base geth.ipc permissions
After=base-geth.service

[Path]
PathExists=/opt/base/data/geth.ipc
PathChanged=/opt/base/data/geth.ipc
Unit=base-geth-ipc-permissions.service

[Install]
WantedBy=multi-user.target