[Unit]
Description=Lighthouse Ethereum Client
After=network.target
Wants=geth.service

[Service]
User=lighthouse
Type=simple
WorkingDirectory=/opt/lighthouse
ExecStart=lighthouse beacon_node \
    --network mainnet \
    --datadir /opt/lighthouse  \
    --execution-endpoint http://localhost:8551 \
    --execution-timeout-multiplier 2 \
    --execution-jwt /opt/reth/jwt.hex \
    --checkpoint-sync-url https://beaconstate.ethstaker.cc \
    --validator-monitor-auto \
    --target-peers 100 \
    --http \
    --http-address 0.0.0.0 \
    --http-port 5052
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target